<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Teacher's Pet | Assignments</title>
  <!-- CSS and fonts -->
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./assets/css/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="./assets/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<!-- NAV BAR  -->
<%- include partials/header.ejs %>

<main>
  <div class="container">
        <!-- PAGE HEADER  -->
        <div class="row center">
            <div class="col s12">
                <h4>Assignments</h4>
            </div>
        </div>

        <!-- HORIZONTAL RULE  -->
        <hr class="style17">

        <div class="row">
            <!--COLUMN 1  -->
            <form class="col s6">
                <div class="row">
                    <div class="col s12">
                        <h5>New Assignment</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="assignment-name" type="text" class="validate" value="">
                        <label for="assignment-name">Assignment Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button id="save-assignment" class="btn waves-effect waves-light right teacher-menu" type="submit" name="action">Save
                            <i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- COLUMN 2  -->
            <div class="col s5 offset-s1">
                <div class="row">
                    <div class="col s12">
                        <h5>Saved Assignments</h5>
                    </div>
                </div>
                <div class="row" id="list">
                    <div class="col s12">
                        <ul id="allAssignments">
                           
                        </ul>
                    </div>
                </div>            
            </div>

        </div>
    </div>
</main>
<!-- Footer -->
    <footer class="page-footer">
      <div class="container" id="footer-filler">
      </div>
      <div class="footer-copyright">
        <div class="container center">
          <a class="white-text" href="https://github.com/Teachers-Pet">Github</a>
        </div>
      </div>
    </footer>

<!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="assets/js/materialize.min.js"></script> 
    <script src="assets/js/assignments.js" type="text/javascript"></script>
</body>

</html>