<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Teacher's Pet | Attendance</title>
  <!-- CSS and fonts -->
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./assets/css/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="./assets/css/style.css" type="text/css" rel="stylesheet" />

  <style>
    #container {
      margin: 0px auto;
      width: 500px;
      height: 375px;
      border: 10px #333 solid;
    }

    #videoElement {
      width: 500px;
      height: 375px;
      background-color: #666;
    }

    #button-container {
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <%- include partials/header.ejs %>
    <!--body  -->
    <main>
      <div class="container" id="attendance-container">
        <!-- PAGE HEADER  -->
        <div class="row center">
          <div class="col s12">
            <h4>Attendance</h4>
          </div>
        </div>
        <!-- HORIZONTAL RULE  -->
        <hr class="style17">
        <!-- FACIAL RECOGNITION BUTTON  -->
        <div class="center" id="button-container">
          <a href="#modal-facial-recognition" class="waves-effect waves-light btn menu-button">
            Facial Recognition
          </a>
        </div>
        <!-- FORM  -->
        <div class="row">
          <div class='col s12'>
            <form>
              <!-- <p id='enter-date-label'> Enter the date: </p> -->
              <div class='input-field inline'>
                <label for="date">Date:</label>
                <input type='text' class='datepicker' id='attendance-date' placeholder="2017-08-01"/>
              </div>
          </div>
        </div>

            <div class='row'>
              <div class='col s12'>
                <ul id="append-here" class="collection">

                </ul>
              </div>
            </div>
            <a class="menu-button waves-effect waves-light btn tooltip" id='submit-attendance-btn'  data-tooltip="Please select on all students!">Submit Attendance</a>
          </form>
        </div>

      </div>
    </main>

   <!-- Footer -->
    <footer class="page-footer">
         <div class="container center">
          <a class="footerWords" href="\class">&copy; Teachers-Pet</a>
            <div class='row'>
          <a class="footerWords" href="https://github.com/Teachers-Pet/TeachersPet">Reference Work on Github</a>
            </div>
        </div>
    </footer>

    <!-- Modal for Facial Recognition -->
    <div id="modal-facial-recognition" class="modal modal-fixed-footer">
      <div class="modal-content center">
        <div id="container">
          <video autoplay="true" id="videoElement">

          </video>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Start Recognition</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      </div>
    </div>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="assets/js/materialize.min.js"></script>
    <script src="assets/js/attendance.js" type="text/javascript"></script>
</body>

</html>

