<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Teacher's Pet | Portal</title>
  <!-- CSS and fonts -->
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <!-- Navigation -->
  <%- include partials/header.ejs %>
    <main>
      <div class="container">
        <!-- PAGE HEADER  -->
        <div class="row">
          <div class="col s12">
            <h4 class="center"><span id="teacher-name"></span> Teacher Portal</h4>
          </div>
        </div>
        <!-- HORIZONTAL RULE  -->
        <hr class="style17">
        <!-- BUTTONS FOR MENU OF OPTIONS  -->
        <div class="row">
          <div class="col l3 m3 s6">
            <a href="#main-mount" class="waves-effect waves-light btn teacher-menu tooltipped" data-position="bottom" data-delay="50"
              data-tooltip="Click a student!">
            <i class="material-icons left">event_note</i>Roster</a>
          </div>
          <div class="col l3 m3 s6">
            <a href="/attendance" class="waves-effect waves-light btn teacher-menu">
            <i class="material-icons left">contacts</i>Attendance</a>
          </div>
          <div class="col l3 m3 s6">
            <a href="#documents" class="waves-effect waves-light btn teacher-menu">
            <i class="material-icons left">attachment</i>Documents</a>
          </div>
          <div class="col l3 m3 s6">
            <a href="/assignments" class="waves-effect waves-light btn teacher-menu">
            <i class="material-icons left">assignment_turned_in</i>Assignments</a>
          </div>
        </div>
        <!-- ALL STUDENTS LISTED HERE  -->
                <!-- React Component -->
                <div id='main-mount'>
                  <div>
                    <%- reactOutput -%>
                  </div>
                </div>
                <!-- BOTTOM PANELS  -->
                <div class="row">
                  <!-- PANEL WITH DOCUMENTS -->
                  <div class="col s6" id="documents">
                    <div class="card white">
                      <div class="card-content black-text">
                        <span class="card-title"><h5>Documents</h5></span>
                        <ul id='append-urls-here'>
                        </ul>
                      </div>
                      <div class="card-action">
                        <a href="#document-modal">Upload a Document</a>
                        <a href="#document-modal" class="right">
              <i class="material-icons">add_circle</i></a>
                      </div>
                    </div>
                  </div>
                  <!--PANEL WITH EVENTS / ANNOUNCEMENTS  -->
                  <div class="col s6">
                    <div class="card white">
                      <div class="card-content black-text">
                        <span class="card-title"><h5>Calendar</h5></span>
                        <ul id="schedule">
                          <li>Test On Friday</li>
                          <li>Quiz on Tuesday</li>
                        </ul>
                      </div>
                      <div class="card-action">
                        <a href="#add-event-modal">Add an Event</a>
                        <a href="#add-event-modal" class="right">
              <i class="material-icons">add_circle</i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of row -->
              </div>
              <!-- end of container -->
    </main>
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container" id="footer-filler">
      </div>
      <div class="footer-copyright">
        <div class="container center">
          <a class="orange-text text-lighten-3" href="https://github.com/Teachers-Pet">Github</a>
        </div>
      </div>
    </footer>
    
<!-- STUDENT SUMMARY modal -->
    <div id="student-summary-modal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <!--Student Pic-->
        <div class="row center pic-row">
        </div>
        <!--Name and grade-->
        <div class="row center name-row">
        </div>
        <div class="row">
          <div class="col right-align s6">
            <!-- email row -->
            <div class="row email-row">
            </div>
            <!-- Days Absent -->
            <div class="row absent-row">
            </div>
          </div>
          <div class="col s6">
            <div class="row">
              <a class="waves-effect waves-light btn email-btn right-align">Email Student</a>
            </div>
            <div class="row ">
              <a href="/api/student/grade " class="waves-effect waves-light btn right-align ">Upload Grade</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer ">
        <a href="#! " class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
      </div>
    </div>   

    <!-- Modal for Adding Student -->
    <div id="add-student-modal " class="modal modal-fixed-footer ">
      <div class="modal-content center ">
        <h4>New Student</h4>
        <!-- FORM INPUT -->
        <form id="add-student-form " name="add-student-form ">
          <!--First Name-->
          <div class="row ">
            <div class="input-field col s5 offset-s1 ">
              <input name="first-name " id="first-name " type="text "></input>
              <label for="first-name ">First Name:</label>
            </div>
            <!--Last Name-->
            <div class="input-field col s5 ">
              <input name="last-name " id="last-name " type="text " </input>
              <label for="last-name ">Last Name:</label>
            </div>
          </div>
          <!--imgUrl-->
          <div class="row ">
            <div class="input-field col s10 offset-s1 ">
              <input name="img-url " id="img-url " type="text "></input>
              <label for="img-url ">Image Url:</label>
            </div>
          </div>
          <!--Email-->
          <div class="row ">
            <div class="input-field col s10 offset-s1 ">
              <input name="email " id="email " type="email "></input>
              <label for="email ">Email:</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer ">
        <!-- FORM SUBMIT BUTTON-->
        <button id="add-student-btn " class="btn waves-effect waves-light teal lighten-2 " type="submit ">Add Student</button>
        <a href="#! " class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </div>
    <!-- Modal for Adding Event -->
    <div id="add-event-modal " class="modal modal-fixed-footer ">
      <div class="modal-content center ">
        <h4>Add Event</h4>
        <!-- FORM INPUT -->
        <div class="row ">
          <form class="col s12 " id="add-event-form " name="add-event-form ">
            <!--Event Name-->
            <div class="row ">
              <div class="input-field col s12 ">
                <input name="event-name " id="event-name " type="text "></input>
                <label for="event-name ">Event Name:</label>
              </div>
            </div>
            <!--Event Date-->
            <div class="row ">
              <div class="input-field col s12 ">
                <input type="text " class="datepicker " id="event-date ">
                <label for="event-date ">When:</label>
              </div>
            </div>
            <!-- FORM SUBMIT BUTTON-->
            <div class="col s2 right-align ">
              <button id="submit-event-btn " class="btn waves-effect waves-light blue lighten-1 " type="submit
                " value="submit event ">Add
                <i class="material-icons right ">input</i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer ">
        <a href="#! " class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </div>
    <!-- Modal for Uploading Documents -->
    <div id="document-modal " class="modal modal-fixed-footer ">
      <div class="modal-content center ">
        <h4>Upload Documents</h4>
        <!-- FORM INPUT -->
        <form name='add-document-form' id='add-document-form'>
          <!--Document Name-->
          <div class="row ">
            <div class="input-field col s10 offset-s1 ">
              <input name="doc-name " id='doc-name' type="text "></input>
              <label for="doc-name ">Document Name:</label>
            </div>
          </div>
          <div class="row ">
            <div class="col s10 offset-s1 file-field input-field ">
              <div class="btn ">
                <span>File</span>
                <input id='doc-file' type="file ">
              </div>
              <div class="file-path-wrapper ">
                <input class="file-path validate " type="text ">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer ">
        <button class="btn waves-effect waves-light teal lighten-2 " id='submit-doc-btn' type="submit ">Save Document</button>
        <a href="#! " class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src="/assets/js/materialize.min.js "></script>
    <script src='/assets/js/classSummary.js'></script>
    <script src='/assets/js/bundle.js'></script>
</body>

</html>

