<!DOCTYPE html> 
<head>
   <meta charset="UTF-8">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href="/css/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
  <link href="/css/materialize/css/style.css" type="text/css" rel="stylesheet" />
  <link href="/css/style.css" type="text/css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
  <title>Teacher's Pet</title>
</head>
 
<body>

<div id='main-mount'>
  <div>
    <%- reactOutput %>
  </div>
</div>


  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/css/materialize/js/materialize.js"></script>
  <script src="/css/materialize/js/materialize.min.js"></script>
  <script src='/javascript/main.js'></script>
  <script src='/javascript/index.js'></script>
</body>
</html>

