<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/assets/css/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet" />
  <title>Teacher's Pet</title>
</head>

<body>

<header> 
  <!-- Navigation -->
  <nav id="landing" class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <img src="./assets/images/globe.png" width="50px">
      <a href="/menu" class="brand-logo">Teacher's Pet</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href='#modal-login'>Log In</a>
        </li>
        <li><a href='#register-modal'> Register</li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>
<main> 
  <!-- Jumbotron/Banner -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <div class="row center extra-padding">
        <h5 class="header col s12 light">Manage your class today!</h5>
      </div>
      <div class="row extra-padding center">
        <a class="waves-effect waves-light btn orange lighten-2" type="submit" id="login" href="#modal-login">ENTER TEACHER PORTAL</a>
      </div>
      <br>
      <br>
    </div>
  </div>
  <!-- Marketing Blurbs -->
  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <!--             <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
 -->
            <center><img class="icons" src="assets/images/icon1.png"></center>
            <h5 class="center">No need to write/memorize everything</h5>
            <!-- <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p> -->
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <center><img class="icons" src="assets/images/icon2.png"></center>
            <h5 class="center">Keep things in a centralized location</h5>
            <!-- <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <center><img class="icons" src="assets/images/icon3.png"></center>
            <h5 class="center">Students can easily get a sense of where they stand</h5>
            <!-- <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
  <!-- Footer -->
  <footer class="page-footer orange">
    <div class="container" id="footer-filler">

    </div>
    <div class="footer-copyright">
      <div class="container center">
        <a class="orange-text text-lighten-3" href="https://github.com/Teachers-Pet">Github</a>
      </div>
    </div>
  </footer>

  <!-- Modal for Logging in -->
  <div id="modal-login" class="modal modal-fixed-footer">
    <div class="modal-content center">
      <h4>Log In</h4>
      <!-- FORM INPUT -->
      <form id="signin" name="signin" method="post" action="/signin">
        <!--EMAIL-->
        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input name="email" type="email" class="validate"></input>
            <label for="email">Email:</label>
          </div>
        </div>
        <!--PASSWORD-->
        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input name="password" type="password" class="validate">
            <label for="password">Password:</label>
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <!-- FORM SUBMIT BUTTON-->
      <button id="signinbutton" class="btn waves-effect waves-light teal lighten-2" type="submit" value="Sign In">Log In</button>
      </form>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

  <!-- Modal for Registering -->
  <div id="register-modal" class="modal modal-fixed-footer">
    <div class="modal-content center">
      <h4>Register</h4>
      <!-- FORM INPUT -->
      <form id="signup" name="signup" method="post" action="/signup">
        <!--Name-->
        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input name="name" type="text" class="validate newuser"></input>
            <label for="name">Name:</label>
          </div>
        </div>
        <!--Email-->
        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input name="email" type="email" class="validate newuser"></input>
            <label for="email">Email:</label>
          </div>
        </div>
        <!--Password-->
        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input name="password" type="password" class="newuser validate">
            <label for="password">Password:</label>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button id="signupbutton" class="btn waves-effect waves-light teal lighten-2" type="submit" value="Sign Up">Register</button>
      </form>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

</body>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/assets/js/materialize.min.js"></script>
<script src="/assets/js/index.js"></script>
</html>

