.brand-logo,
.showId,
.showStudentName,
#schedule,
h4,
h5 {
  font-family: 'Zilla Slab', serif;
}

.nav-color, .page-footer {
    background-color: #99badd;  
}

a.brand-logo {
  font-size: 18px;
}

.dropdown-button {
  font-family: 'Zilla Slab', serif;
  font-size: 18px;
  width: 160px;
  text-align: center;
  margin-right: 25px;
}

#dropdown1 li {
  text-align: center;
}

/* LANDING PAGE  */
.home {
  /* min-height: 800px; */
  height: 100%;
  background: url(../images/tp-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

/* USED TO VERTICALLY AND HORIZONTALLY CENTER CONTENT */
.centerContentParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* USED TO VERTICALLY AND HORIZONTALLY CENTER CONTENT */
.centerContentChild {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-header {
  font-family: 'Zilla Slab', serif;
  margin: 20% 0 4% 0;
}

hr.style17 {
  border-top: 1px solid #8c8b8b;
  text-align: center;
}

hr.style17:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px 0 10px;
  margin-bottom: 0;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 14px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

.login-buttons a {
  width: 100px;
  font-size: 12px;
  padding: 0;
  margin-top: 10px;
}

.login-buttons a:last-child {
  margin-left: 20px;
}

#modal-login {
  height: 60%;
}

.page-header {
  background-color: #62bfbb;
  height: 7%;
  margin-top: -25px;
}

.showId,
.showStudentName {
  color: #424242;
  font-size: 16px;
}

.picker {
  font-size: 12px;
  text-align: left;
  line-height: 0;
}

.picker__date-display {
  line-height: 1.3;
}

.jumbotron {
  margin-top: -30px;
  background-image: url('../images/banner.png');
  height: 450px;
  background-size: 110%;
  background-repeat: no-repeat;
}

#index-banner {
  background-image: url('../images/banner.png');
}

.message-div {
  /*     background-color: rgba(231, 230, 230, .85);
 */
  height: 400px;
  /* background-color: none;
    box-shadow: 2px 2px 2px #888888; */
  margin-right: 5%;
  float: right;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  display: inline;
  font-size: 20px;
  margin-left: 5px;
}

nav {
  margin-bottom: 20px;
}

#landing {
  margin-bottom: 0;
}

#login {
  padding-top: 10px;
  padding-bottom: 40px;
}

.teacher-menu {
  min-width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Zilla Slab', serif;
  background-color: #99badd;
}

a.teacher-menu:hover{
  background-color: #81d4fa;
}

.extra-padding {
  margin-bottom: 45px;
  margin-top: 20px;
  text-align: right;
}

.main-message {
  margin-top: 15%;
  margin-left: 30px;
  line-height: 150%;
  color: black;
}

.icon-div {
  /*  align-items: center;
    justify-content: center */
  margin-left: 10%;
}

.icons {
  height: 100px;
  margin-left: -15px;
}

.icon-title {
  font-weight: bold;
  color: #bf9000;
  font-size: 12px;
}

a.link-to-home {
  color: white;
  text-decoration: none;
}

.icon-div2 {
  width: 230px;
  text-align: center;
}

#name {
  width: 80%;
  margin-left: 10%;
}

#password {
  width: 80%;
  margin-left: 10%;
}

label {
  padding-top: 10px;
  font-size: 12px;
  color: #c55a11;
}

/* Summary Page */
.name {
  font-size: 12px;
}

.email {
  font-size: 12px;
}

.collection .collection-item.avatar {
  min-height: 50px;
}

.circle {
  height: 50px;
}

.card-panel {
  overflow-y: auto;
  max-height: 600px;
  padding: 0px;
}

.edit-btn {
  margin-left: 85%;
}

.student-add-btn {
  margin-left: 90%;
}

#list {
  margin-bottom: 0;
}

#attendance-container {
  margin-bottom: 100px;
}

#allAssignments {
  position: relative;
  top: -20px;
}

.picker {
  font-size: 12px;
  text-align: left;
  line-height: 0;
}

.picker__date-display {
  line-height: 1.3;
}

#footer-filler {
  height: 70px;
}

.globe {
  line-height: 50px;
  padding-bottom: 30px;
  margin-left: 25px;
}

body {
  min-height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.modal-img {
  max-width: 300px;
}

.right-align {
  margin-left: 10%;
}

#enter-date-label {
  display: inline;
}

/* media tags */

/* @media screen and (min-width: 1645px)s {
.edit-btn{
    margin-left: 80%;
}

.student-edit-btn{
 margin-left: 90%;

}
} */
